.featuredProducts {
    padding-top: var(--space-6);
    padding-bottom: var(--space-8);
}

.featuredProducts > h2 {
    margin-bottom: var(--space-6);
}

.featuredProductsList {
    display: flex;
    justify-content: center;
    gap: var(--space-4);
}

.featuredProductsList > * {
    width: 350px;
}

@media (max-width: 768px) {
    .featuredProductsList {
        flex-direction: column;
        align-items: center;
    }
}
