.hero {
    position: relative;
    height: 80vh;
    background-color: rgb(68, 84, 107);
    background-image: url("/images/hero-back2.png");
    background-size: cover;
    background-position: center;
}

.heroInner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heroInner > * + * {
    margin-top: var(--space-4);
}
