.comments {
    padding: var(--space-7) 0;
}

.comments h2 {
    margin-bottom: var(--space-3);
}

.comments ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.comments ul li {
    display: flex;
    gap: var(--space-4);
}

.comments ul li :nth-child(1) {
    flex: 1 1 33%;
}

.comments ul li :nth-child(2) {
    flex: 1 1 67%;
}

.comment .button {
    cursor: pointer;
    text-decoration: underline;
    visibility: hidden;
}

.comment .buttonVisible {
    visibility: visible;
}

.editComment {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.editComment textarea {
    height: 100px;
    width: 400px;
}

.editComment button {
    margin-right: auto;
}
