.form {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.form > * {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.form label {
    position: absolute;
    padding: 0 var(--space-2);
    top: -0.5rem;
    left: 0.5rem;
    font-size: var(--fs-6);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: var(--color-secondary);
}

.form input {
    width: 100%;
    padding: var(--space-3);
    font-family: var(--font-primary);
    font-size: var(--fs-4);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.form input:focus {
    outline: 2px solid var(--color-primary);
}

.form button {
    margin-right: auto;
}

.form .inputError {
    border: 1px solid red;
}

.form .errorMessage {
    color: var(--color-accent);
}
