@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");

@import "./form.css";

:root {
    /* Spacing */
    --space-1: 0.5rem; /* 8px */
    --space-2: 0.75rem; /* 12px */
    --space-3: 1rem; /* 16px */
    --space-4: 1.5rem; /* 24px */
    --space-5: 2rem; /* 32px */
    --space-6: 3rem; /* 48px */
    --space-7: 4rem; /* 64px */
    --space-8: 6rem; /* 96px */

    /* Colors */
    --color-primary: white;
    --color-secondary: #030303;
    --color-accent: #a4161a;
    --color-gray-light: #d3d3d3;
    --color-gray-dark: #708090;

    /* Font Family */
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Roboto Condensed", sans-serif;

    /* Font Size */
    --fs-1: 3rem; /* 48px */
    --fs-2: 2rem; /* 32px */
    --fs-3: 1.5rem; /* 24px */
    --fs-4: 1.25rem; /* 20px */
    --fs-5: 1rem; /* 16px */
    --fs-6: 0.75rem; /* 12px */

    /* Font Weight */
    --fw-bold: 700;
    --fw-regular: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-4);
    /* border: 1px solid red; */
}

.content {
    min-height: calc(100vh - 300px);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: var(--space-2);
    }
}

body {
    font-family: var(--font-primary);
    font-size: var(--fs-4);
    font-weight: var(--fw-regular);
    color: var(--color-primary);
    background-color: var(--color-secondary);
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-family: var(--font-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-1);
    line-height: 1;
}

h2 {
    font-family: var(--font-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-2);
    line-height: 1.1;
}

h3 {
    font-family: var(--font-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-3);
    line-height: 1.2;
}

button {
    cursor: pointer;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    padding: var(--space-3) var(--space-4);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

button:active {
    background-color: rgba(255, 255, 255, 0.5);
}
